@using MvcNetCoreSession.Helpers
@{
    byte[] data = Context.Session.Get("MASCOTA");
    Mascota mascota = null;
    if(Context.Session.Get("MASCOTA") != null){
        mascota = HelperBinarySession.ByteToObject(data) as Mascota;
    }

}

<h1>Ejemplos Session</h1>

<h2 style="color:blue">
    @Context.Session.GetString("nombre")
</h2>

<h2 style="color:red">
    @Context.Session.GetString("hora")
</h2>

@if(mascota != null){
    <h2 style="color: blue">@mascota.Nombre, @mascota.Edad, @mascota.Edad</h2>
}


<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
        asp-action="SessionSimple">
            SessionSimple
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascotas">
            Session Binary
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionCollector">
            Session Collector
        </a>
    </li>
</ul>